<div class="main-container">
  <div class="report-container">
    <div class="date-inputs">
      <label for="startDate">Start Date:</label>
      <input type="date" id="startDate" [(ngModel)]="startDate">

      <label for="endDate">End Date:</label>
      <input type="date" id="endDate" [(ngModel)]="endDate">

      <button (click)="generateReport()">Generate Report</button>
    </div>

    <div *ngIf="filteredTransactions.length > 0" class="report-details">
      <h3>Transactions Report</h3>
      <p>Report for transactions from <strong>{{ startDate }}</strong> to <strong>{{ endDate }}</strong>:</p>
      <p>Total number of transactions: <strong>{{ transactionCount }}</strong></p>
      <p>Total amount spent: <strong>{{ totalAmount | currency }}</strong></p>

      <div class="transaction-list">
        <h4>Detailed Transactions:</h4>
        <ul>
          <li *ngFor="let transaction of filteredTransactions">
            <span class="transaction-date">{{ transaction.date }}</span>: 
            <span class="transaction-amount">{{ transaction.montant | currency }}</span>
          </li>
        </ul>
      </div>
    </div>

    <div *ngIf="filteredTransactions.length === 0 && startDate && endDate" class="no-transactions">
      <p>No transactions found for the selected period.</p>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row justify-content-center align-items-center">
      <div class="col-lg-8">
        <canvas #canvas id="MyChart" class="chart-canvas"></canvas>
      </div>
    </div>
  </div>
</div>
