<div class="container py-5">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <h2>Forgot Password</h2>
        <form (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" class="form-control" id="email" name="email" [(ngModel)]="email" required>
          </div>
          <button type="submit" class="btn btn-primary mt-5" >Submit</button>
        </form>
        <div *ngIf="submitted">
          <p *ngIf="success" class="text-success">Password reset email sent successfully. Check your inbox.</p>
          <p *ngIf="!success" class="text-danger">Failed to send password reset email. Please try again later.</p>
        </div>
      </div>
    </div>
  </div>